<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKp5KwtiGq9niTaQso8WxfAaL6ZYtR3bs</string>
	<key>GCM_SENDER_ID</key>
	<string>931572730656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrhbanya.user.ios</string>
	<key>PROJECT_ID</key>
	<string>mrhbanya-welo</string>
	<key>STORAGE_BUCKET</key>
	<string>mrhbanya-welo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931572730656:ios:a7587782122e5aa64fa545</string>
</dict>
</plist>
